<div class="">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="modal-content text-center modal-custom">
        <p>Bạn có muốn xóa nhân viên này không?</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-danger mr-2" (click)="onDeleteClick()">Xóa</button>
          <div style="width: 10px;"></div>
          <button class="btn btn-warning" (click)="onCancelClick()">Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>
